// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/ionic2-auto-complete/auto-complete";

h2 {
	color: map-get($colors, primary);
	font-size: 25px;
}

h4 {
	color: map-get($colors, secondary);
}

h2, h4 {
	text-align: center;
}

@font-face {
    font-family: 'dk_spiced_pumpkinregular';
    src: url('../assets/fonts/dk_spiced_pumpkin-webfont.woff2') format('woff2'),
         url('../assets/fonts/dk_spiced_pumpkin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h3 {
	font-family: 'dk_spiced_pumpkinregular';
	font-size: 43px;
	text-align: center;
	background-color: map-get($colors, primary);
	border-radius: 10px;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
}

h5 {
	text-align: center;
	color: map-get($colors, dark);
	font-size: 15px;
}

a {
	color: map-get($colors, dark);
}

.item-inner {
	border-bottom-color: transparent !important;
	box-shadow: none !important;
}

ion-icon {
	color: map-get($colors, primary);
}

ion-datetime button {
	width: auto !important;
}
